<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987947532334-m9nreb36g0d74scunqtloj01c2c01usf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987947532334-m9nreb36g0d74scunqtloj01c2c01usf</string>
	<key>API_KEY</key>
	<string>AIzaSyBEDfZooX6BiO43B3-17CsjXqzQ-cUK_qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>987947532334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp</string>
	<key>PROJECT_ID</key>
	<string>note-list-app</string>
	<key>STORAGE_BUCKET</key>
	<string>note-list-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987947532334:ios:59fde9c42a041a245a5fbf</string>
</dict>
</plist>